@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Agbalumo&display=swap');

@keyframes wiggle {
  0%,
  25% {
    transform: rotate(5deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.animate-wiggle {
  animation: wiggle 0.3s ease-in-out infinite;
}

body {
  font-family: 'Agbalumo', sans-serif;
  line-height: 1;
}


@keyframes progress-bar {
  0% {
    width: 0;
  }
  25% {
    width: 10%;
  }
  50% {
    width: 30%;
  }
  75% {
    width: 50%;
  }
  100% {
    width: 100%; 
  }
}

.animate-progress-bar {
  animation: progress-bar 0.8s ease-in-out infinite; 
}




